body{
	margin: 0;
	font-family: "Josefin Sans", sans-serif;
	font-size: 5vh;
	background-color: #313131;
	color: #ccc;
}

h3{
	background-color: #121315;
	padding: 40px;
	margin: 0;
	border-bottom: 5px solid #fffff8;
}
ul{
	padding: 0;
	margin: 0;
}

li{
	padding: 1%;
	list-style: none;
	line-height: 2;
	border-bottom: 1px solid #454D49;
}

li:hover{
	color: gray;
}

input{
	width: 100%;
	border: none;	
	height: 30px;
	outline: none;
	margin: 0;
	padding: 35px 35px 35px 20px;
	font-family: "Josefin Sans", sans-serif;
	font-size: 30px;
	background-color: #fffff8;
	color: #AFCB02;
	box-sizing: border-box;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #AFCB02;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #AFCB02;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #AFCB02;
}

.completed{
	color:gray;
	text-decoration: line-through;
}

.delete{
	float: right;
	margin-right: 20px;
}

.delete:hover{
	color: #AFCB02;
}

#container{
	padding: 0;
	margin: 0;
}

#list{
	color: #AFCB02;
}

#deleteAll{
	float: right;
	color: #AFCB02;
}

#deleteAll:hover{
	opacity: .7;
}
